best_classefier_model.pth
best_ir_encoder.pth
best_ir_encoder2.pth
best_model.pth
pretrain_clipvip_base_16.pt
pretrain_clipvip_base_32.pt
VIP/src/align_checkpoints
VIP/src/vidclip_data/output/msrvtt_retrieval/msrvtt_retrieval_vip_base_16/ckpt
VIP/src/vidclip_data/output/msrvtt_retrieval
model_step_47400 copy.pt
evl/
checkpoint_best_transformer.pth
swinB_In21k_checkpoint.torch
checkpoint_best_transformer.pth
swinB_In21k_checkpoint.torch
VIP/src/vidclip_data/output/msrvtt_retrieval
VIP/src/model_weights/omnivore.pth
